{% extends 'base.html' %}
{% block content %}
<div class="max-w-xl mx-auto flex flex-col gap-8 text-right">
    <!-- Status Block -->

    <!-- שתולים Settings Block -->
    <div class="bg-white rounded-xl shadow-md p-8">
        <h2 class="text-2xl font-bold mb-4 text-[#104F6A]">הגדרות שתולים</h2>
    </div>
    <!-- Message Tracking Block -->
    <div class="bg-white rounded-xl shadow-md p-8">
        <h2 class="text-2xl font-bold mb-4 text-[#104F6A]">מעקב הודעות</h2>
    </div>
</div>
{% endblock %} 